.homeMain{
    width: 90%;
    margin: 0 auto;
    padding: 5vh 0;
}

.Notification{
    position: fixed;
    top: 2rem;
    width: 16rem;
    left: calc((100% - 20rem)*0.5);
    background-color: white;
    border-radius: 5px;
    padding: 1rem 2rem;
    border-bottom: 5px solid rgb(61, 167, 61);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.226);
    z-index: 1000;
    transition: transform 0.5s ease-in;
}

.Notification.hide{
    transform: translateY(-300%) scale(0.6);
}

.NotificationTitle{
    font-size: 1.3rem;
    font-weight: 600;
    color: rgb(61, 167, 61);
}

.NotificationDes{
    color: rgb(114, 114, 114);
}


@media (min-width: 600px) {
    .homeHeaderContentSelf{
        font-size: 4rem;
        line-height: 5rem;
    }
    .homeHeaderInfo{
        margin: 0 3rem;
        margin-bottom: 13rem;
    }
    .navOptions{
        justify-content: flex-start;
        padding: 1rem 3rem;
        width: calc(100% - 6rem);
    }
    .navOptions a{
        padding-right: 3rem;
        font-size: 1.2rem;
    }

    .homeWorksCategoryItem{
        font-size: 1rem;
        padding: 5px 20px;
    }

    .homeWorksPicutresImgItemTitle{
        font-size: 1rem;
    }
    
    .fas.fa-arrow-circle-right{
        font-size: 1rem;
    }
}

@media (min-width: 1300px) {
    .navOptions a{
        color: rgba(255, 255, 255, 0.801);
        padding-right: 6rem;
    }
    
}