.homeWorks{
    padding: 6rem 0 6rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.homeWorksTitle{
    font-weight: 700;
    font-size: 1.4rem;
    border-bottom: 3px solid rgb(247, 193, 94);
    margin-bottom: 3rem;
}
/* 
.homeWorksCategory{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 75%;
    flex-wrap: wrap;
    cursor: pointer;
    max-width: 600px;
}

.homeWorksCategoryItem{
    color: rgb(161, 161, 161);
    text-align: center;
    padding: 3px 15px;
    font-size: 0.8rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.homeWorksCategoryItem:hover{
    color: black;
}

.homeWorksCategoryItem.active{
    color: white;
    background-color: rgb(247, 193, 94);
    border-radius: 40px;
    font-weight: 600;
} */

.homeWorksPicutres{
    width: 75%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem auto;
    grid-gap: 55px;
    max-width: 1000px;
}

.homeWorksPicutresImgItem{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 15px 20px rgba(243, 231, 209, 0.541);
    border-radius: 10px;
    background-color: rgb(194, 164, 48);
}

.homeWorksInfo{
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.363);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
    transition: all 0.3s ease-in-out;
    text-align: center;
    padding: 0 10px;
}

.onMouseOver .homeWorksInfo{
    opacity: 1;
}

.homeWorksPicutresImgItemTitle{
    margin-bottom: 0.4rem;
    font-size: 0.8rem;
}

.fas.fa-arrow-circle-right{
    font-size: 0.95rem;
}

.homeWorksPicutresImg{
    margin: 0 !important;
    width: 100%;
    height: 100%;
    object-fit: cover;
    margin: 3px;
}

.homeWorksPicutresImg.onMouseOver{
    filter: blur(3px);
}

.homeWorksViewMore{
    padding: 10px 2rem;
    font-size: 1rem;
    background:none;
    color: rgb(247, 193, 94);
    border-radius: 30px;
    border: 1px solid rgb(247, 193, 94);
    cursor: pointer;
    transition: all 0.3s ease-out;
    outline: none;
    margin-top: 1rem;
    text-decoration: none;
}

.homeWorksViewMore:hover{
    background-color: rgb(247, 193, 94);
    color: white;
    outline: none;
}

.homeWorksViewMore:active{
    background-color: rgb(214, 167, 81);
    color: white;
    outline: none;
}